In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import json

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# Dataset source: https://www.kaggle.com/code/fahadrehman07/advance-eda-on-movies-dataset/input?select=movies_metadata.csv
df = pd.read_csv('movies_metadata.csv')
df.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_20856\3991525872.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [42]:
x = df.iloc[0]
x

adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                        373554033.0
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                          5415.0
Name: 0, dtype: object

In [43]:
x['genres']

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [44]:
x['overview']

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."

In [45]:
x['genres'] = x['genres'].replace("'", '"')
js = json.loads(x['genres'])
js

C:\Users\HP\AppData\Local\Temp\ipykernel_20856\211439380.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['genres'] = x['genres'].replace("'", '"')

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [46]:
processed_names = []

for i in js:
    name_parts = i['name'].split()

    joined_name = ''.join(name_parts)
    processed_names.append(joined_name)

result = ' '.join(processed_names)

In [ ]:
import json

def genres_and_overview_to_string(row):
    genres = ""
    if isinstance(row['genres'], str) and row['genres'].strip():
        try:
            row['genres'] = row['genres'].replace("'", '"')
            genres_list = json.loads(row['genres'])
            genres = ' '.join(''.join(i['name'].split()) for i in genres_list)
        except (json.JSONDecodeError, KeyError, TypeError):
            genres = "" 

    overview = ""
    if isinstance(row['overview'], str) and row['overview'].strip():
        try:
            overview_list = json.loads(row['overview'])
            overview = ' '.join(''.join(j['name'].split()) for j in overview_list)
        except (json.JSONDecodeError, KeyError, TypeError):
            overview = "" 

    return f"{genres} {overview}".strip()

In [48]:
df['string'] = df.apply(genres_and_overview_to_string, axis=1)

In [49]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,string
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Animation Comedy Family
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,Adventure Fantasy Family
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Romance Comedy
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,Comedy Drama Romance
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Comedy

In [50]:
tfidf = TfidfVectorizer(max_features=2000)

In [51]:
X = tfidf.fit_transform(df['string'])

In [52]:
X

<45466x32 sparse matrix of type '<class 'numpy.float64'>'
	with 91106 stored elements in Compressed Sparse Row format>

In [53]:
movie_as_index = pd.Series(df.index, index=df['title'])
movie_as_index

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45461
Century of Birthing            45462
Betrayal                       45463
Satan Triumphant               45464
Queerama                       45465
Length: 45466, dtype: int64

In [54]:
def recommend(title):
  idx = movie_as_index[title]
  if type(idx) == pd.Series:
    idx = idx.iloc[0] # Arbitrary selection among multiple selection

  query = X[idx]
  scores = cosine_similarity(query, X)

  scores = scores.flatten()

  recommend_index = (-scores).argsort()[1:6]

  return df['title'].iloc[recommend_index]

In [59]:
movie = "The Godfather"
print(f'Recommendation for {movie}')
recommend(movie)

Recommendation for The Godfather

14810                   Black Legion
24177                         Cement
27982                     The Bandit
24175    The Musketeers of Pig Alley
18329                    On Thin Ice
Name: title, dtype: object

In [55]:
movie = "Alice in Wonderland"
print(f'Recommendation for {movie}')
recommend(movie)

Recommendation for Alice in Wonderland

16470               The Princess and the Goblin
44827                   PokÃ©mon: Destiny Deoxys
37396                The Tale of John and Marie
2685     Little Nemo: Adventures In Slumberland
32364               Dragon Nest: Warriors' Dawn
Name: title, dtype: object

In [56]:
movie = "Die Hard"
print(f'Recommendation for {movie}')
recommend(movie)

Recommendation for Die Hard

18528    She Gods of Shark Reef
24198          Chain of Command
14519           The Peacekeeper
14518           Hidden Assassin
19385     The Cold Light of Day
Name: title, dtype: object

In [57]:
movie = "Return of the Jedi"
print(f'Recommendation for {movie}')
recommend(movie)

Recommendation for Return of the Jedi

26054                    U.F.O.
22629             Space Raiders
39709               The Call Up
5388                 Rollerball
43450    Moontrap: Target Earth
Name: title, dtype: object

In [58]:
movie = "Star Wars"
print(f'Recommendation for {movie}')
recommend(movie)

Recommendation for Star Wars

26054                    U.F.O.
22629             Space Raiders
39709               The Call Up
5388                 Rollerball
43450    Moontrap: Target Earth
Name: title, dtype: object